* {

box-sizing:border-box;

}



body {

margin:0;

min-height:100vh;


background:
radial-gradient(circle at top,#29294d,#07070b 60%);


font-family:
-apple-system,
BlinkMacSystemFont,
Arial,sans-serif;


color:white;


}



.app {


max-width:430px;

margin:auto;


padding:35px 22px;


}




header {

text-align:center;

}



.logo {

height:120px;

display:flex;

align-items:center;

justify-content:center;


}



.core {


width:80px;

height:80px;


border-radius:50%;


position:relative;


background:
radial-gradient(circle,#fff,#8888ff,#22223d);


box-shadow:
0 0 50px #7777ff;


animation:pulse 3s infinite;


}



.ring {


position:absolute;

inset:-12px;


border-radius:50%;


border:2px solid rgba(255,255,255,.4);


}



.point {


position:absolute;


width:18px;

height:18px;


background:white;


border-radius:50%;


top:31px;

left:31px;


box-shadow:
0 0 20px white;


}



h1 {


font-size:42px;

letter-spacing:5px;

margin:10px 0;


}



header p {

color:#999;

}



.glass {


margin-top:40px;


padding:25px;


border-radius:28px;


background:
rgba(255,255,255,.08);


border:
1px solid rgba(255,255,255,.1);


backdrop-filter:blur(20px);


}



button {


width:100%;


margin-top:25px;


padding:18px;


border:0;


border-radius:22px;


background:white;


color:black;


font-size:18px;


font-weight:600;


}



.memory-form {


margin-top:20px;


}



input,
textarea {


width:100%;


margin-top:15px;


padding:16px;


border:0;


border-radius:18px;


background:
rgba(255,255,255,.12);


color:white;


font-size:16px;


}



textarea {


height:120px;


}



.hidden {


display:none;


}



h3 {


margin-top:35px;


}



#memoryList div {


display:block;


width:100%;


padding:20px;


margin-top:15px;


border-radius:22px;


background:
rgba(255,255,255,.1);


border:
1px solid rgba(255,255,255,.1);


}



#memoryList h4 {


margin:0 0 10px;


font-size:20px;


}



#memoryList p {


margin:0;


color:#ccc;


}



@keyframes pulse {


50% {

transform:scale(1.08);

}


}